/*header*/
.header{
	width:100%;
	height:89px;
	background: #16161d;
}
.header_box{
	width: 1200px;
	height: 100%;
	margin:0 auto;
	position: relative;
}
.header_box1{
	width:100%;
	height: 45px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;	
}
.header_box_sskuang{
	width: 316px;
	height: 43px;
	border: 1px solid #2c2b35;
/*	background: #1d1c26;*/
	margin-left: 20px;
}
.header_box1_sskicon{
	width: 18px;
	height: 18px;
	background:url(../img/sousuo_03.jpg);
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	left: 308px;
}
.free{
	font-size: 14px;
	font-weight: bold;
	color: #9197a1;
	/*margin-left: 60px;*/
	line-height: 47px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	left: 434px;
}
.touxiangw{
	width: 20px;
	height: 18px;
	background:url(../img/touxiang_03.jpg);
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	right: 20px
}
.touxiangw:hover{
	background: url(../img/touxiangxiaoguo.png);
	background-size: 20px 18px;
}
.zhuce{
	font-size: 14px;
	font-weight: bold;
	color: #9197a1;
	line-height: 47px;
	float: right;
	margin-right: 54px;
}
.zhuce:hover{
	color: white;
}
.denglu{
	font-size: 14px;
	font-weight: bold;
	color: #9197a1;
	line-height: 47px;
	float: right;
}
.denglu:hover{
	color: white;
}
.header_box1_fankui{
	width: 20px;
	height: 20px;
	background:url(../img/fankui.png);
	background-size: 20px 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	right: 143px
}
.header_box1_fankui:hover{
	background: url(../img/fankuixiaoguo.png);
	background-size: 20px 20px;
}
.header_box1_gouwudai{
	width: 21px;
	height: 23px;
	background:url(../img/gouwudai.png);
	background-size: 21px 23px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	right: 173px;
}
.header_box1_gouwudai:hover{
	background:url(../img/gouwudaixiaoguo.png);
	background-size: 21px 23px;
}

/*logo区域*/
.nav_box{
	width: 100%;
	height: 101px;
	background: #e9e9e9;
}
.nav_box2{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.nav_boxl{
	width: 250px;
	height: 50px;
	float: left;
	margin-top:24px;
}
.nav_box2_logowenzi{
	font-size: 24px;
	color:#000;
	font-family: Supreme;
	line-height: 50px;
	float: left;
	margin-left: 20px;
}
.nav_box2_logo{
	float: left;
}

/*背景色*/
.beijingse{
	width: 100%;
	height: 572px;
	background: #eee;
}
/*大盒子*/
.dbox{
	width: 1200px;
	height: 452px;
	margin:0 auto;
}

/*面包屑*/
.mbxbox{
	width: 100%;
	height: 12px;
}
.mbboxshouyeicon{
	float: left;
	width: 12px;
	height: 12px;
	margin-top: 2px;
}
.mbxbox_wenzi1{
	color: #000;
	font-size: 12px;
	float: left;

}
.mbxbox_wenzi1:hover{
	text-decoration: underline;
}
.mbxbox_wenzi2{
	color: #000;
	font-size: 12px;
	float: left;
	font-weight: bold;
}
.mbxbox_wenzi2:hover{
	text-decoration: underline;
}

/*注册*/
.zhucedbox{
	width: 100%;
	height: 392px;
	float: left;
	padding-left: 20px;
	margin-bottom: 55px;
}
.zhucebox{
	width: 301px;
	height: 369px;
	margin-top: 28px;
	float: left;
	margin-right: 81px;
}
.zhucebox:last-child{
	margin-right: 0;
}

/*手机，密码，验证码*/
.zhuceboxzi1{
	font-size: 24px;
	float: left;
}
.zhuceboxzixing{
	font-size: 30px;
	color: red;
/*	float: left;*/
}

input::
webkit-input-placeholder{
	font-family: 微软雅黑;
	font-size:24px; 
} 
.shoujihaosr{
	width: 297px;
	height: 44px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.yanzhengmasr{
	width: 165px;
	height: 44px;
	margin-top: 20px;
	float: left;
}
.yanzhenghao{
	width: 115px;
	height: 46px;
	background: #fff;
	float: right;
	margin-top: 20px;
}
.yanzhenghaozi{
	font-size: 30px;
	font-family: supreme;
	color: #5ed7db;	
	text-align: center;
	line-height: 46px;
}
.yanzhenghao2{
	width: 115px;
	height: 46px;
	background: #313131;
	float: right;
	margin-top: 20px;
}
.yanzhenghaozi2{
	font-size: 14px;
	font-family: supreme;
	color: #fff;	
	text-align: center;
	line-height: 46px;
}

/*个人信息*/
.zhuceboxzixing2{
	font-size: 30px;
	color: #000;
/*	float: left;*/
}
.xingbiebox{
	width: 100%;
	height: 46px;
	margin-top: 20px;
	float: left;
	font-size: 18px;
	margin-bottom: 20px;
}
.nan{
	line-height: 46px;
	float: left;
}
.boy{
	line-height: 46px;
	margin-top: 16px;
	float: left;
}
.nv{
	line-height: 46px;
	float: left;
	margin-left: 12px;
}
.girl{
	line-height: 46px;
	float: left;
	margin-top: 16px;
}
.xuannian{
	width: 90px;
	height: 100%;
	float:;left: 
}
.xuanriqi{
	width: 60px;
	height: 100%;
	margin-left: 10px;
}
.zhuceanniu{
	width: 100%;
	height: 46px;
	margin-top: 20px;
	float: left;
	background: #e60012;
	font-size: 18px;
}
.zhucezi{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	line-height: 46px;
	color: #fff;
}

/*.bbbbx{
	width: 100%;
	height: 300px;
	background: red;
}*/

/*底部导航*/
.dbbox{
	width: 100%;
	height:220px;
	background: #252525;
}
.dbbox0{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.dbbox1{
	width: 300px;
	height: 100%;
	float: left;
}
.dbbox1_zi1{
	color: #fff;
}
.dbbox1_zi1:hover{
	text-decoration:underline; 
}
.dbbox1_zi2{
	color: #fff;
}
.dbbox1_zi2:hover{
	text-decoration:underline; 
}
.dbbox1_zi3{
	color: #fff;
}
.dbbox1_zi3:hover{
	text-decoration:underline; 
}
.dbbox1_zi4{
	color: #fff;
}
.dbbox1_zi4:hover{
	text-decoration:underline; 
}
.dbbox1_zi5{
	color: #fff;
}
.dbbox1_zi5:hover{
	text-decoration:underline; 
}
.dbbox1_wenzi1{
	font-size: 18px;
	font-weight: bold;
	margin-top: 55px;
	color: #fcfcfc;
}
.dbbox1_wenzi2:hover{
	text-decoration: underline;
}
.dbbox1_wenzi2{
	font-size: 12px;
	margin-top: 82px;
	color: #fcfcfc;
}
.dbbox1_wenzi3{
	font-size: 12px;
	color: #fcfcfc;
}
.dbbox1_tp1{
	margin-top: 86px;
	float: left;
	margin-left: 8px;
}

/*最底部*/
.zuidibubox{
	width: 100%;
	height: 97px;
	background:#252525;
}
.zuidibubox1{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.zuidibubox1_tp{
	float: left;
}
.zuidibubox1_wenzi1{
	float: left;
	margin-left:8px;
	margin-top: 8px;
	font-size: 14px;
	font-family: Supreme;
	color: #fff;

}
.zuidibubox1_xian{
	width: 1200px;
	height: 1px;
	background: #fff;
	margin-top: 9px;
	float: left;
}
.zuidibubox1_wenzi2{
	font-size: 12px;
	float: left;
	margin-top: 18px;
	color: #fff;
}

.backtop{
	position: fixed;
	right: 50px;
	bottom:50px;
	cursor: pointer;
	z-index: 1000000;
}
.backtop_tp{
	width: 50px;
	height: 50px;
}